<!-- Header Section Begin -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="header__logo">
          <a href="./index.html">
            <img src="img/logo.png" alt="" />
          </a>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="header__nav">
          <nav class="header__menu mobile-menu">
            <ul>
              <li><a href="./index.html">Homepage</a></li>
              <li>
                <a href="./categories.html"
                  >Genres <span class="arrow_carrot-down"></span
                ></a>
                <ul class="dropdown"> 
                    <% for (let i =0; i <genres.length; i++) { %>
                  <li><a href="./categories.html"> <%= genres[i].name %></a></li> <% } %>
                </ul>
              </li>
              <li class=""><a href="./blog.html">Movies</a></li>
              <li><a href="#">TV Series</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="header__right">
          <a href="#" class="search-switch"
            ><span class="icon_search"></span
          ></a>
        </div>
      </div>
    </div>
    <div id="mobile-menu-wrap"></div>
  </div>
</header>
<!-- Header End -->
