<%- include ("../partials/header") %> <%- include ("../partials/loading") %> <%-
include ("../partials/navbar") %>

<!-- Normal Breadcrumb Begin -->
<section
  class="normal-breadcrumb set-bg"
  data-setbg="img/normal-breadcrumb.jpg"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="normal__breadcrumb__text">
          <h2>About</h2>
          <p>Welcome to Movie Geeks.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Normal Breadcrumb End -->

<!-- Blog Section Begin -->
<section class="blog spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-12">
            <div
              class="blog__item set-bg"
              data-setbg="https://image.tmdb.org/t/p/original/6JjfSchsU6daXk2AKX8EEBjO3Fm.jpg"
              style="background-size: cover"
            >
              <div class="blog__item__text">
                <h4>
                  <p class="textt">
                    Movie Geeks is a website that provides you information about
                    your favorite movie and TV series. You can see all about the
                    film, trailer, photos, review, and other stuff you need to
                    know about your favorite movie and film.
                  </p>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div
              class="blog__item small__item set-bg"
              data-setbg="https://image.tmdb.org/t/p/original/7OwsFfoxNGIfWwSmdORyB7v8XNj.jpg"  style="background-size: cover"
            >
              <div class="blog__item__text">
                <h4><a href="https://saweria.co/rendisagala" target="_blank">Buy me some coffee</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div
              class="blog__item small__item set-bg"
              data-setbg="https://image.tmdb.org/t/p/original/bkgwGq56o5sRcwtCsqSz2wfpxNl.jpg"
            >
              <div class="blog__item__text">
                <h4><p class="textt">There is no free movie streaming here. Go watch it legally</p></h4>
              </div>
            </div>
          </div>
     
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div
              class="blog__item small__item set-bg"
              data-setbg="https://camo.githubusercontent.com/549e64f975095e44ea821e69356278456438d52b65bbbe139ae2c2de7f6f7dc5/68747470733a2f2f632e74656e6f722e636f6d2f6c7753636a4352546c6e3841414141432f736d696c652d616e642e676966"
            >
              <div class="blog__item__text">
                <h4>
                  <p class="textt font-weight-bold" style="color: red">
                    This website is made and developed by
                    <a
                      class="textt"
                      style="color: red"
                      href="https://github.com/rendisagala"
                      target="_blank"
                      rel="noopener noreferrer"
                      >@rendisagala</a
                    >
                  </p>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div
              class="blog__item small__item set-bg"
              data-setbg="https://image.tmdb.org/t/p/original/kjWIp6COK4MKF0KSffzUD8l9Kuo.jpg"
            >
              <div class="blog__item__text">
                <h4><a href="#">07 July 2022</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div
              class="blog__item set-bg"
              data-setbg="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg"
              style="background-size: contain"
            >
              <div class="blog__item__text">
                <h4>
                  <p class="textt" href="#">
                    All database and API is from
                    <a
                      href="http://https://developers.themoviedb.org/3"
                      target="_blank"
                      rel="noopener noreferrer"
                      >https://developers.themoviedb.org/3</a
                    >
                  </p>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
        
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog Section End -->

<%- include ("../partials/footer") %>
